/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Derived from:
   
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 18px/26px Avenir, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Grayscale Theme
   =================== */

.header-container {
    border-bottom: 20px solid #999999;
}

.footer-container,
.main aside {
    border-top: 20px solid #999999;
}

.header-container,
.footer-container,
.main aside {
    background: #CCCCCC;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul { 
    display: none;
    }

nav select { 
    display: inline-block; 
    margin: 0 auto;
    }

nav {
    text-align: center;
    }

select {
	background-color: #999999;
	color: white;
	border: 0.5px solid black;
	-moz-border-radius: 5px ;
	border-radius: 5px;
	}

select.body{
    margin: 0px;
    width: 15em;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: transparent;
    }


nav ul {
    margin: 0;
    padding: 0;
    
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0px;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #999999;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.title {
    font-size: 2.5em;
    text-align: center;
    margin: 15px auto;
    }

.dpad {
    position: relative;
    margin: 0 auto;
    margin-bottom: 5px;
    height: 240px;
    width: 240px;
    }

.button {
    font-size: 4em;
    line-height: 0px;
    padding: 0;
    text-shadow: 0px 1px white, 0px -2px #444;
}

.control{
    font-size: 1.8em;
    text-shadow: none;
    position: absolute;
    left: -20px;    
    
	width: 80px;
	height: 60px;
	border: 1px solid black;
	-moz-border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	border-radius: 12px 12px 12px 12px;
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
	background-image: -moz-linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: -o-linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: -ms-linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: -webkit-linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: linear-gradient(0deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
}

.subscribe{
    font-size: 1.8em;
    text-shadow: none;
    position: relative;
    left: -35px;
    top: 10px;
    
	width: 150px;
	height: 60px;
	border: 1px solid black;
	-moz-border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	border-radius: 12px 12px 12px 12px;
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
	background-image: -moz-linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: -o-linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: -ms-linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: -webkit-linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: linear-gradient(0deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
}

.receive{
    font-size: 1.8em;
    text-shadow: none;
    position: relative;
    left: 125px;
    top: -50px;
    
    
	width: 150px;
	height: 60px;
	border: 1px solid black;
	-moz-border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	border-radius: 12px 12px 12px 12px;
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
	background-image: -moz-linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: -o-linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: -ms-linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: -webkit-linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: linear-gradient(0deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
}

.joy-control{
    position: relative;
    left: calc( 50% - 40px ); 
    margin: 10px auto;
    margin-top: 5px;
    }

.middle {
    z-index: 100;
    position: absolute;
    top: 79px;
    left: 79px;
	width: 78px;
	height: 78px;
	
	border: 1px solid black;
	background-image: -moz-linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%), -moz-linear-gradient(-0deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: -o-linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%), -o-linear-gradient(-0deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: -ms-linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%), -ms-linear-gradient(-0deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: -webkit-linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%), -webkit-linear-gradient(-0deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: linear-gradient(0deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%), linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
    background-blend-mode: hard-light;
}


.up {
    position: absolute;
    left: 79px;
    
	width: 80px;
	height: 80px;
	border: 1px solid black;
	-moz-border-radius: 12px 12px 0px 0px;
	-webkit-border-radius: 12px 12px 0px 0px;
	border-radius: 12px 12px 0px 0px;
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
	background-image: -moz-linear-gradient(-0deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: -o-linear-gradient(-0deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: -ms-linear-gradient(-0deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: -webkit-linear-gradient(-0deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
}

.right {
    position: absolute;
    top: 79px;
    left: 158px;
    
	width: 80px;
	height: 80px;
	border: 1px solid black;
	-moz-border-radius: 0px 12px 0px 12px;
	-webkit-border-radius: 0px 12px 0px 12px;
	border-radius: 0px 12px 12px 0px;
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
	background-image: -moz-linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: -o-linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: -ms-linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: -webkit-linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: linear-gradient(0deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
}

.left {
    position: absolute;
    top: 79px;
    left: 0px;
    z-index: 100;
    
	width: 80px;
	height: 80px;
	border: 1px solid black;
	-moz-border-radius: 12px 0px 12px 0px;
	-webkit-border-radius: 12px 0px 12px 0px;
	border-radius: 12px 0px 0px 12px;
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
	background-image: -moz-linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: -o-linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: -ms-linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: -webkit-linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: linear-gradient(0deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
}


.down {
    position: absolute;
    top: 158px;
    left:79px;
    
	width: 80px;
	height: 80px;
	border: 1px solid black;
	-moz-border-radius: 0px 0px 12px 12px;
	-webkit-border-radius: 0px 0px 12px 12px;
	border-radius: 0px 0px 12px 12px;
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
	background-image: -moz-linear-gradient(-0deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: -o-linear-gradient(-0deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: -ms-linear-gradient(-0deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: -webkit-linear-gradient(-0deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
	background-image: linear-gradient(90deg, #6a6a6a 1%, #bfbfbf 24%, #d4d4d4 75%, #7f7f7f 100%);
}

.button:active{
	-moz-box-shadow: inset 0px 0px 15px rgba(0,0,0,0.75);
	-webkit-box-shadow: inset 0px 0px 15px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 15px rgba(0,0,0,0.75);
	}


.status {
    margin: 0 auto; 
    max-width: 240px;
}


.status_light {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	-moz-border-radius: 54px;
	-webkit-border-radius: 54px;
	border-radius: 54px;
	background: #f42300;
	background-image: -moz-radial-gradient(50% 50%, #eeeeee 0%, #a6a6a6 53%, #6a6a6a 98%);
	background-image: -o-radial-gradient(50% 50%, #eeeeee 0%, #a6a6a6 53%, #6a6a6a 98%);
	background-image: -ms-radial-gradient(50% 50%, #eeeeee 0%, #a6a6a6 53%, #6a6a6a 98%);
	background-image: -webkit-radial-gradient(50% 50%, #eeeeee 0%, #a6a6a6 53%, #6a6a6a 98%);
	background-image: radial-gradient(circle at 50% 50%, #eeeeee 0%, #a6a6a6 53%, #6a6a6a 98%);
	background-blend-mode: hard-light;
}

.on {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	-moz-border-radius: 54px;
	-webkit-border-radius: 54px;
	border-radius: 54px;
	background: #3fca00;
	background-image: -moz-radial-gradient(50% 50%, #eeeeee 0%, #a6a6a6 53%, #6a6a6a 98%);
	background-image: -o-radial-gradient(50% 50%, #eeeeee 0%, #a6a6a6 53%, #6a6a6a 98%);
	background-image: -ms-radial-gradient(50% 50%, #eeeeee 0%, #a6a6a6 53%, #6a6a6a 98%);
	background-image: -webkit-radial-gradient(50% 50%, #eeeeee 0%, #a6a6a6 53%, #6a6a6a 98%);
	background-image: radial-gradient(circle at 50% 50%, #eeeeee 0%, #a6a6a6 53%, #6a6a6a 98%);
	background-blend-mode: hard-light;
}

.messages {
    max-height: 43.4em;/* 780px; */
    overflow: hidden;
    }
    
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
    .title {
    font-size: 3em;
/* 
    margin-bottom: 15px;
    margin-top: 15px;
 */

    }
    
    nav a {
        float: right;
        width: 27%;
        margin: 0 1.7%;
        padding: 10px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-right: 0;
    }

    nav li:last-child a {
        margin-left: 0;
    }
    
    nav select {
      display: none;
    }
    
    nav ul {
      display: block;
      }
    
    .footer-container{
        display: none;
        }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */
    
    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */
    .title {
        float: left;
        margin-bottom: 0px;
        margin-top: 25px;
    }

    nav {
        float: right;
        width: 38%;
    }
    
    nav a {
        margin: 0 1.7%;
        padding: 20px 2%;
        }

    



/* ============
    WIDE: Main
   ============ */

    .main article {
/*         float: left; */
        text-align: center
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}